.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  width: 500px;
  max-height: 100%;
  overflow-y: scroll;
  border-radius: 30px;
  background-color: whitesmoke;
}

.closeBtn {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
}

.submit {
  display: flex;
  justify-content: center;
  padding: 1em;
}


.popupImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popupImage img {
  width: 100%;
  max-width: 500px;
  max-height: 400px;
}

.inputsHeader {
  display: flex;
  gap: 1em;
  margin: 1em 0;
}

.inputsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputsText > div {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em 0;
  width: 100%;
}

.inputsText > div > input {
  height: 100px;
}
